.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error {
  position: absolute;
  font-size: smaller;
  text-align: center;
  left: 90px;
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modalTitle {
  margin-left: 35%;
  font-weight: bold !important;
}

.modalFooter {
  justify-content: center !important;
  border-top: none !important;;
}

.card-body, .fontColorGray {
  color: gray;
}

.alignRight {
  text-align: right;
}

.sectionSummary {
  color: #333
}

.sectionImage {
  width: 15px !important;
}

.sectionContainer {
  padding: 0 15px
}

.smallFont {
  font-size: 14px
}

.sectionCost {
  color: #007bff;
  font-weight: bold;
  font-size: 20px;
}

.bgGray {
  background-color: #f9f9f9;
}

.sectionTitle {
  color: #000;
  font-size: 20px;
}

.rowPadding {
  padding: 25px;
}

.commonPadding {
  padding: 2rem !important;
}

.payButton, .projectButton {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.checkCircle {
  width: 20px !important;
  display: none;
}

.checkCircle.show {
  display: block;
}

.visaCard {
  width: 60px !important;
}

.marginAuto {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
